{% extends 'auction.html' %}

{% block body %}

    <style>
        
        /* div{
            background-color: 009900;
        } */
        #product-list{
            background-color: #dbab1a;
            background-image: linear-gradient(to right, rgb(168, 186, 219) , #c4e4ff);
            /* #29c8f0 */
        }

        .product{
            position: relative;
            margin: 15px 0px;
            border: 2px  groove;
            padding: 2px 10px;
            font-size: 12px;
        }
        .product:hover {
            transform: scaleY(1.1);

            /* -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
            box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024; */
            border-color: coral;
        }
        #button 
        {
            margin-left:184px;
        } 

        img { height: 300px; width: 300px;}
    </style>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">  
                    <li><a href='{% url 'logout_view' %}' id ="myBtn1"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                </ul>
            </div>    

        <!-- These tags are put as we extend auction.html so if do not include this all 
            product will come inder the navigation bar -->
                </div>
            </nav>
            <!-- </div>  uncomment to change the alignment of product-->
    <div  class="container">

        <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href='{% url 'home'%}'>Home</a></li>
                <li><a  href='{% url 'post_adv' %}'>Post Product</a></li>
                <li><a data-toggle="pill" href='{% url 'view_adv' %}'>View Product</a></li>
        </ul>    
        
        <hr>
    </div>

    <h1 >List of item auctioned by you. </h1>

    {% for p in product %}
        <div class="col-md-4 col-xs-6">
         <div id="product-list" class="product">
             
                <h2>Product Name&nbsp;:<br>{{ p.productList.name }} </h2><br>
                        <button id="button" class="btn btn-primary" onclick="location.href = '{% url 'single_adv' p.productList.id %}'" ><span class="glyphicon glyphicon-eye-open"></span></button>  
                    <br>
                <h2 id="{{ p.productList.id}}"></h2>
                <script>



                    var countDownDate = new Date("{{p.time}}").getTime();
                    // new Date(year, month, day, hours, minutes, seconds, milliseconds)


                    // function timeRefresh(timeoutPeriod){
                    //     setTimeout("location.reload(true);",timeoutPeriod);
                    // }

                    // // if 


                    // window.onload=timeRefresh(1000);





                    // Made anonymous function (for self invocation)
                    (function setInterval() {
                        // Get today's date and time
                        var now = new Date().getTime();
                        
                        // Find the distance between now and the count down date
                        //This is done to calclate the 3 hour from the base line which is 
                        // a new date object as January 1, 1970, 00:00:00 Universal Time (UTC) plus 
                        
                        var duration = new Date(1970 ,0,1,8,30,0,0).getTime();
                        
                        var distance = countDownDate - now;
                        
                        var end_time = countDownDate +duration;
                        
                        // console.log("Current time "+now+" start time "+countDownDate+)
                    //    var duration =  new Date(0,0,0, hours, minutes, seconds, milliseconds)
                        if (distance < 0) {
                           
                            if(now>countDownDate && now<end_time) {

                               document.getElementById({{ p.productList.id}}).className="text-success";
                               document.getElementById("{{p.productList.id}}").innerHTML = "Status : Running ...";
                            }
                            else{
                                // window.onload=setTimeout("location.reload(true);",1000);
                                document.getElementById({{ p.productList.id}}).className="text-danger";
                                document.getElementById("{{p.productList.id}}").innerHTML = "Status : EXPIRED";
                            }

                        }
 
                        else if(distance > 0){
                            document.getElementById({{ p.productList.id}}).className = "text-primary";    
                            document.getElementById("{{p.productList.id}}").innerHTML = "Status : Scheduled";
                        }

                        if(now>countDownDate && now<end_time) {
                            console.log("Runnong ....")
                        }
                    })();
                </script>
                <br>
            </div>
            </div>        
    {% endfor %}    


{% endblock %}