{% extends 'auction.html' %}

{% block body %}
<style>
/* button 
{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
} */
img { height: 300px; width: 300px;}
</style>
    </div>
    </nav>
    {% for p in product %}

        <h2>Product Name:{{ p.name }} p id is {{p.id}}</h2> 
        <img src="/media/{{p.product_image}}"/><br>
        Category:  {{ p.category }}<br>
        <br> Start date&nbsp;:&nbsp;{{ p.start_date }}
        <br> Start time&nbsp;:&nbsp;{{ p.start_time }}
        <br> End time&nbsp;:&nbsp;{{ p.end_time }}
        <br> Price&nbsp;:&nbsp;{{ p.price }}
        <br> Description&nbsp;:&nbsp;{{ p.desc }}
        <br> Current Bidder&nbsp;:&nbsp;{{ p.current_bidder }}
        <br> Current Price&nbsp;:&nbsp;{{ p.currnet_price }}<br><br>
        <br><p id="demo{{p.id}}"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("{{time}}").getTime();


console.log(countDownDate);


// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo{{p.id}}").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo{{p.id}}").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
    
    {% endfor %}
    <button onclick="location.href = '/aform/viewadv'" class="btn btn-primary" ><span class="glyphicon glyphicon-backward"></span></button>
{% endblock %}