
{% block body %}
<script>
var fruits = [[]]; var veg=[[]]; var i=0; var pid =[]; var lid=[]; var j=0; var sid=[];
</script>
<div id="menu1" class="tab-pane fade in active"><h1>  Live auctions</h1>



 <script>
{% for l in live %}

pid.push("{{ l.id }}");
fruits[i]=[];
fruits[i][0]="{{ l.end_date.year }}";
fruits[i][1]="{{ l.end_date.month }}";
fruits[i][2]="{{ l.end_date.day }}";
fruits[i][3]="{{ l.end_time.hour }}";
fruits[i][4]="{{ l.end_time.minute }}";
fruits[i][5]="{{ l.end_time.second }}";


i+=1;
 {% endfor %}
{% for l in live2 %}

lid.push("{{ l.id }}");
veg[j]=[];
veg[j][0]="{{ l.end_date.year }}";
veg[j][1]="{{ l.end_date.month }}";
veg[j][2]="{{ l.end_date.day }}";
veg[j][3]="{{ l.end_time.hour }}";
veg[j][4]="{{ l.end_time.minute }}";
veg[j][5]="{{ l.end_time.second }}";


j+=1;
{% endfor %} 
function fund(){
document.getElementById(lid[0]).innerHTML = lid[0]; }
</script>
<script>
function h1(){
var y= fruits[0][0]; var mo = fruits[0][1]; var d= fruits[0][2]; var h = fruits[0][3];var m= fruits[0][4]; var s= fruits[0][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(y,mo,d,h,m,s).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(pid[0]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(pid[0]).innerHTML = "EXPIRED";
    }
}, 1000);
}
function h2(){
var y1= fruits[1][0]; var mo1 = fruits[1][1]; var d1= fruits[1][2]; var h1 = fruits[1][3];var m1= fruits[1][4]; var s1= fruits[1][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(y1,mo1,d1,h1,m1,s1).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(pid[1]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(pid[1]).innerHTML = "EXPIRED";
    }
}, 1000);}
function h3(){
var y2= fruits[2][0]; var mo2 = fruits[2][1]; var d2= fruits[2][2]; var h2 = fruits[2][3];var m2= fruits[2][4]; var s2= fruits[2][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(y2,mo2,d2,h2,m2,s2).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(pid[2]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(pid[2]).innerHTML = "EXPIRED";
    }
}, 1000);}

function li1(){
var yl= veg[0][0]; var mol = veg[0][1]; var dl= veg[0][2]; var hl = veg[0][3];var ml= veg[0][4]; var sl= veg[0][5];
//document.getElementById('lli1').innerHTML = hl;
var t = new Date(yl,mol,dl,hl,ml,sl).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(lid[0]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(lid[0]).innerHTML = "EXPIRED";
    }
}, 1000);}
function li2(){
var yl2= veg[1][0]; var mol2 = veg[1][1]; var dl2= veg[1][2]; var hl2 = veg[1][3];var ml2= veg[1][4]; var sl2= veg[1][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(yl2,mol2,dl2,hl2,ml2,sl2).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(lid[1]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(lid[1]).innerHTML = "EXPIRED";
    }
}, 1000);}
function li3(){
var yl3= veg[2][0]; var mol3 = veg[2][1]; var dl3= veg[2][2]; var hl3 = veg[2][3];var ml3= veg[2][4]; var sl3= veg[2][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(yl3,mol3,dl3,hl3,ml3,sl3).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(lid[2]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById(lid[2]).innerHTML = "EXPIRED";
    }
}, 1000);}
function li4(){
var yl4= veg[3][0]; var mol4 = veg[3][1]; var dl4= veg[3][2]; var hl4 = veg[3][3];var ml4= veg[3][4]; var sl4= veg[3][5];
//document.getElementById('de').innerHTML = '2nditem';
var t = new Date(yl4,mol4,dl4,hl4,ml4,sl4).getTime();
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    //var now = new Date(y1,mo1,d1,h1,m1,s1).getTime();
    // Find the distance between now an the count down date
    var distance = t - now;
    
    // Time calculations for days, hours, minutes and seconds
    //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById(lid[3]).innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
		document.getElementById(lid[3]).innerHTML = "Closed";
    }
}, 1000);}
function sh1(){
function pad ( val ) { return val > 9 ? val : "0" + val; }
setInterval( function(){ 
    document.getElementById("sseconds").innerHTML=pad(--sec%60);
    document.getElementById("mminutes").innerHTML=pad(parseInt(sec/60,10));
	    document.getElementById("hhours").innerHTML=pad(parseInt(sec/3600,10));
}, 1000);}


</script>

<script>
var xfun = [
      h1(),
   h2(),h3()
   
  
];var k=0; 

</script>


<a href ="{% url 'searchl' %}"><h3><span class="glyphicon glyphicon-search"></span>Search</h3></a>
<form action=" " method="POST">
{% csrf_token %}
{{ form.as_p }}

</form>




<div class="container">    
  <div class="row">
  
{% for l in live %}

	<h1></h1>
	<div class="col-sm-4" onclick="xfun[k]">
      <div class="panel panel-primary">
	 
        <div class="panel-heading"><a href="{% url 'product_detail' l.id %}" style="color:white">{{ l.name }}</a></div>
         
		 <div class="panel-body">		  <img src="{{ l.product_image.url }}"></img>
<br><br>
		Current Bidder: {{ l.current_bidder }}  <br>
		Current Price: {{ l.currnet_price }}   <br>
		
		Start time: {{ l.start_time }}<br>
		Start date: {{ l.start_date|date:'Y-m-d' }}<br>
		End time: {{ l.end_time }}<br>
		End date: {{ l.end_date|date:'Y-m-d' }}<br>
		<br>
		<p id= "{{ l.id }}"></p>
		</div>
		<div class="panel-body"><a href= "{% url 'bid' l.id %}">BID NOW</a></div>
        <div class="panel-footer">Price: {{ l.price }}</div>
      </div>
    </div> <script>++k;</script>
	
{% endfor %}

<script>
var lfun = [ li1(),
             li2(), 
			 li3(), 
			 li4() 
		   ];  
var lf = 0;

  
 


</script>
{% for lo in live2 %}
	<h1></h1>
	<div class="col-sm-4" onmouseenter="lfun[lf]">
      <div class="panel panel-primary">
	 
        <div class="panel-heading"><a href="{% url 'product_detail' lo.id %}" style="color:white">{{ lo.name }}</a></div>
         <div class="panel-body">		  <img src="{{ lo.product_image.url }}"></img>
		 
		<br><br>
		Current Bidder: {{ lo.current_bidder }}  <br>
		Current Price: {{ lo.currnet_price }}   <br>
		Start time: {{ lo.start_time }}<br>
		Start date: {{ lo.start_date|date:'Y-m-d' }}<br>
		End time: {{ lo.end_time }}<br>
		End date: {{ lo.end_date|date:'Y-m-d' }}<br>
		
		<br>
		
		
		<!--<table>
		<tr>
		<td>Current Bidder: {{ lo.current_bidder }}  </td>
		<td>Current Price: {{ lo.currnet_price }}   </td>
		<tr>
		<td>Start time: {{ lo.start_time }}</td>
		<td>Start date: {{ lo.start_date|date:'Y-m-d' }}</td>
		</tr>
		<tr>
		<td>End time: {{ lo.end_time }}</td>
		<td>End date: {{ lo.end_date|date:'Y-m-d' }}</td>
		</tr>
		</table><br>-->
		<p id= "{{ lo.id }}"></p>
		</div>
		<div class="panel-body"><a href= "{% url 'bid' lo.id %}">BID NOW</a></div>
        <div class="panel-footer">Price: {{ lo.price }}</div>
      </div>
    </div> <script>++lf;</script>
{% endfor %}
<!--
{% for l in live2 %}
<div class="col-sm-4"  onmouseenter = "li2()">
      
        <div class="panel panel-primary"><div class="panel-heading"><a style="color:white" href="{% url 'product_detail' l.id %}">
		  {{ l.name }}</a></div>
		  <div class="panel-body">{{ l.id }}</div>
		  <img src="{{ l.product_image.url }}"></img><br>
		<table>
		<tr>
		<td>Current Bidder: {{ l.current_bidder }}  </td>
		<td>Current Price: {{ l.currnet_price }}   </td>
		<tr>
		<td>Start time: {{ l.start_time }}</td>
		<td>Start date: {{ l.start_date|date:'Y-m-d' }}</td>
		</tr>
		<tr>
		<td>End time: {{ l.end_time }}</td>
		<td>End date: {{ l.end_date|date:'Y-m-d' }}</td>
		</tr>
		</table>
		<div class="panel-body">
			<p id= "{{ l.id }}"></p>
			<p  onclick="fund()">hello</p>
			
		</div>
		
	
        <div class="panel-body"><a href= "{% url 'bid' l.id %}">BID NOW</a></div>
		<div class="panel-footer">Price: {{ l.price }}</div>
      </div>
</div><script>++lf;</script>
{% endfor %}
  -->
  </div>
</div><br>
</div>


{% endblock %}